* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  position: fixed;
  background-color: #850F16;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black;
  z-index: 3;
  height: 7vh;
  top: 0;
}
footer {
  position: fixed;
  background-color: #850F16;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black;
  z-index: 3;
  height: 5vh;
  bottom: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-image: url('assets\\images\\sign-in\\publicmarketbg.png');
}

header {
  background-color: maroon; 
  color: white; 
  text-align: center; 
  z-index: 3;
}

.tech-line-tr{
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1;
  transform: rotate(180deg);
}
.tech-line-bl{
  position: absolute;
  bottom: -5%;
  left: -5%;
  z-index: 1;
}
.front-layer{
  position: absolute;
  top:0%;
  right: 0%;
  z-index: 2;
  
}
.back-layer{
  position: absolute;
  top:0%;
  right: 0%;
  z-index: 2;
  
}
.item-1{
  position: absolute;
}


.website-title {
  justify-content: center;
  text-align: center;
  top: 30%;
  position: absolute;
  z-index: 3;
  width: 100%; /* Added to make sure it takes full width */
}

.title1 {
  line-height: 0;
  flex: 1;
  font-weight: lighter;
  color: white;
}

.title2 {
  line-height: 2;
  flex: 1;
  font-weight: bolder;
  color: white;
}


.main-content {
  flex: 1; /* Grow to fill available space, pushing .signin to the bottom */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  bottom: 20%;
  color: white;
  letter-spacing: 1px;
  z-index: 3;
}

.website-title-v2{
  margin-left: 2%;.;
  margin-top: 7%;
}

.title3{ /* WELCOME TO */
  line-height: 0;
  flex: 1;
  font-weight: lighter;
  color: maroon;
  letter-spacing: 3px;
}

.title4 { /* SANTA ROSA PUBLIC MARKET */
  
  line-height: 1;
  flex: 1;
  font-weight: bolder;
  color:rgb(76, 74, 74);
  letter-spacing: 1px;
}

.logo-location{ /* location ng Logo */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-form {
  position: fixed;
  width: 200px;
  height: 80px;
  margin: 0;
  padding: 20px;
  bottom: 300px;
  margin-left: 150px;
  left: 0;
  background-color: none;
  outline: none;
}

.forgot-password{
  background-color: none;
  color: maroon;
  font-style: italic;
  font-weight: 100;
  
}
.forgot-password:hover{
  background-color: none;
  font-style: italic;
  font-weight: 100;
  color: rgb(103, 102, 100);
  cursor: pointer;
}

.login-btn{
  background-color: #850F16;
  font-weight: bolder;
  color: white;
  border-radius: 4px;
  height: 25px;
  width: 70px;
  border-style: solid;
  border-color: transparent;
}

.login-button-location{
  /* location */
  margin-top: 15px;
  margin-left: 55px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid maroon;
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-group input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}
.form-group{
  background-color: none;
}

/* BUTTON STYLE*/
.button-style,
.signin-button,
.market-button,
.treasury-button,
.vendor-button,
.admin-button,
.back-button {

  height: 35px;
  width: 140px;
  border: none;
  border-radius: 10px;
  color: maroon;
  background-color: rgb(245, 230, 203);
  font-weight: bolder;
}


/* LOCATION STYLE */
.button-style,
.signin-button,
.market-button,
.treasury-button,
.vendor-button,
.admin-button,
.back-button, 
.button-style:hover,
.signin-button:hover,
.market-button:hover,
.treasury-button:hover,
.vendor-button:hover,
.admin-button:hover,
.back-button:hover {

  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30%;
  left: 50%;
  margin-left: -60px;
  z-index: 3;
}

/* Hover styles for buttons ... */
/* HOVER BUTTON STYLE*/

.login-btn:hover,
.button-style:hover,
.signin-button:hover,
.market-button:hover,
.treasury-button:hover,
.vendor-button:hover,
.admin-button:hover,
.back-button:hover {

  border: none;
  color: rgb(245, 230, 203);
  background-color: maroon;
  border: 1px solid rgb(245, 230, 203);
  box-shadow: 2px 2px 5px rgba(1, 1, 1, 0.9);
  font-weight: bolder;
  cursor: pointer;
}

@media (min-width: 768px) {
  body::after {
    width: 100%;
  }
}
