.tl1 {
  margin-left: 10px;
}

.tl2 {
  margin-left: 14px;
}

.tl3 {
  margin-left: 20px;
}

.tl4 {
  margin-left: 20px;
}

.tl5 {
  margin-left: 20px;
}

.tl6 {
  margin-left: 20px;
}

.tl7 {
  margin-left: -70px;
}

.tl8 {
  margin-left: 70px;
}

.tl9 {
  margin-left: 95px;
}

.tl10 {
  margin-left: 25px;
}

.tl11 {
  margin-left: -10px;
}
.box-position {
  margin-left: 130px;
}
.box-position2 {
  margin-top: 10%;
  width: 100%;
  margin-left: 50px;
}

.box-position3 {
  margin-top: 10%;
  width: 100%;
  margin-left: 30px;
}

.box-position4 {
  margin-top: 30px;
  margin-left: 50px;
}
.box-position5 {
  margin-top: 30px;
}
