

.tl1{
    margin-left: 10px;
}

.tl2{
    margin-left: 14px;
}

.tl3{
    margin-left: 103px;
}

.tl4{
    margin-left: 37px;
}

.tl5{
    margin-left: 120px;
}

.tl6{
    margin-left: 92px;
}

.tl7{
    margin-left: -70px;
}

.tl8{
    margin-left: 50px;
}

.tl9{
    margin-left: 95px;
}

.tl10{
    margin-left: 25px;
}

.box-position{
    margin-left: 100px;
}